NEXT_PUBLIC_STORYBLOK_TOKEN=
NEXT_PUBLIC_STORYBLOK_IS_PREVIEW=true

NEXT_PUBLIC_BASE_PATH=jesuscentral # for multi site management in storyblok
NEXT_PUBLIC_BASE_URL=https://jesuscentral.church

NEXT_PUBLIC_YOUTUBE_CHANNEL_ID=UCqgMfh02m4THrmUSpQl0A1w

MOLLIE_API_KEY=<Your_Mollie_Api_key>

NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=<Your_Mapbox_Access_Token>

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

STORYBLOK_MANAGEMENT_TOKEN=
