NEXT_PUBLIC_STORYBLOK_TOKEN=
NEXT_PUBLIC_STORYBLOK_IS_PREVIEW=true

NEXT_PUBLIC_BASE_PATH=jesuscentral # for multi site management in storyblok
NEXT_PUBLIC_BASE_URL=https://jesuscentral.church

MOLLIE_API_KEY=""